/* Darkmode-Stile */
body.dark-mode, html.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode .login-container,
body.dark-mode .container {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

body.dark-mode .input {
    background-color: #333;
    color: #e0e0e0;
    border: 1px solid #555;
}

body.dark-mode .table th {
    background-color: #333;
}

body.dark-mode .table td {
    border: 1px solid #555;
}

body.dark-mode .footer {
    background-color: #1e1e1e;
    color: #e0e0e0;
}